* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #015450;
    color: #F4F5F4;
    height: 40px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left h1 {
    font-size: 20px;
    margin: 0
}

.header-right a {
    color: #F4F5F4;
    text-decoration: none;
    margin-left: 30px;
}

.nav_ {
  border-bottom: solid 1px rgb(200, 200, 200, 0.5);
  font-size: 15px;
  border-radius: 20px;
  transition: 0.1s;
}

.nav_:hover {
  box-shadow: 0 0.2em 0.2em 0.1px #F4F5F4;  
  background-color: rgb(53,94,59, 0.3);
  padding: 10px;
}

#home-content {
    color: #F4F5F4;
    background-image: url('img/img-fundo.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home-content h2 {
    font-size: 80px;
    background-color: rgb(1, 54, 50, 0.5);
    border-left: solid 5px rgb(1, 54, 50, 0.9);
}

#home-content p{
    font-size: 30px;
    background-color: rgb(1, 54, 50, 0.5);
    border-left: solid 5px rgb(1, 54, 50, 0.9);
    width: 30%;
}

section {
    padding: 50px 0;
}

#sobre {
  min-height: 100vh;
  height: 100%;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.sobre-item-inner h3{
  text-align: center;
  font-size: 2em
}

.sobre-item-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2% 0 2%;
}

.sobre-item-inner img {
  box-shadow: 0.2em 0.2em 20px black;
  width: 90%;
  margin: auto;
}


.ajude-content{
    background-color: #015450;
    padding: 20px;
    color:white
}

.ajude-content h3 {
  font-size: 5em;
}

footer {
    background-color: #015450;
    color: #F4F5F4;
    text-align: center;
    padding: 20px;
}
